In [1]:
import pandas as pd

In [2]:
Train = pd.read_csv(r"C:\Users\KENNEDY\OneDrive\Desktop\football_data\Train.csv",low_memory=False)

In [3]:
Test = pd.read_csv(r"C:\Users\KENNEDY\OneDrive\Desktop\football_data\Test.csv",low_memory=False)

In [4]:
game_statistics = pd.read_csv(r"C:\Users\KENNEDY\OneDrive\Desktop\football_data\game_statistics.csv",low_memory=False)

In [5]:
#Test["Season"].unique()

In [6]:
Train["Train"] = 1
Test["Train"]= 0

In [7]:
train_test = pd.concat([Train, Test])

In [8]:
train_test.shape

(646, 8)

In [9]:
train_test

,Date,Season,Match_ID,Game_ID,Home Team,Away Team,Score,Train
0,2017-02-15,1,1.0,ID_KAG4KAE9,Antennae,Andromeda,Away win,1
1,2016-09-14,1,12.0,ID_T7H1XN5Z,Andromeda,Antennae,Draw,1
2,2016-12-12,1,13.0,ID_O1P9FGN4,Andromeda,Butterfly,Away win,1
3,2017-01-25,1,14.0,ID_TR5M4KQV,Andromeda,Cigar,Away win,1
4,2016-08-24,1,15.0,ID_EOIECRE2,Andromeda,Circinus,Home Win,1
...,...,...,...,...,...,...,...,...
229,2018-12-08,3,300.0,ID_QKQ00O16,Malin 1,Needle,NaN,0
230,2018-12-11,3,300.0,ID_172V2IXW,Tadpole,Needle,NaN,0
231,2018-12-22,3,300.0,ID_2ZK5TE39,Circinus,Malin 1,NaN,0
232,2019-05-07,3,300.0,ID_IS54QGW9,Needle,Andromeda,NaN,0
233,2019-05-14,3,300.0,ID_YG9IONLS,Tadpole,Circinus,NaN,0

In [10]:
Test

,Date,Season,Match_ID,Game_ID,Home Team,Away Team,Train
0,2018-12-08,3,102.0,ID_8518U587,Antennae,Cosmos Redshift 7,0
1,2018-09-11,3,18.0,ID_H49BIKG7,Cosmos Redshift 7,Tadpole,0
2,2018-09-25,3,32.0,ID_PO6SP4VA,Cosmos Redshift 7,Medusa Merger,0
3,2018-10-02,3,40.0,ID_MZRCNBAQ,Cartwheel,Cosmos Redshift 7,0
4,2018-12-20,3,123.0,ID_CV9VOLIU,Cosmos Redshift 7,Needle,0
...,...,...,...,...,...,...,...
229,2018-12-08,3,300.0,ID_QKQ00O16,Malin 1,Needle,0
230,2018-12-11,3,300.0,ID_172V2IXW,Tadpole,Needle,0
231,2018-12-22,3,300.0,ID_2ZK5TE39,Circinus,Malin 1,0
232,2019-05-07,3,300.0,ID_IS54QGW9,Needle,Andromeda,0
233,2019-05-14,3,300.0,ID_YG9IONLS,Tadpole,Circinus,0

In [11]:
all_data = game_statistics.merge(train_test, on="Game_ID")

In [12]:
all_data.columns

Index(['Game_ID', 'Player_ID', 'id', 'X', 'Y', 'Team', 'Half', 'Manager',
       'Opposition_Team', 'Shots', 'SoT', 'Accurate passes',
       'Inaccurate passes', 'Passes', 'Start_minutes', 'End_minutes',
       'next_player', 'next_action', 'next_x', 'next_y', 'event_id',
       'next_team', 'next_event_id', 'xt_value', 'Date', 'Season', 'Match_ID',
       'Home Team', 'Away Team', 'Score', 'Train'],
      dtype='object')

In [13]:
all_data["Team"].value_counts()

Medusa Merger        184754
Cartwheel            177865
Cosmos Redshift 7    172737
Cigar                166920
Comet                165022
Antennae             162704
Fireworks            155671
Milky Way            154696
Circinus             134880
Backward             123762
Andromeda            123551
Sunflower            113302
Coma Pinwheel         99533
Sculptor              88326
Tadpole               84095
Butterfly             53181
Eye of Sauron         51398
Whirlpool             46091
Sombrero              45118
Triangulum            44080
Needle                42324
Malin 1               38091
Name: Team, dtype: int64

In [14]:
all_data["date"] = pd.to_datetime(all_data["Date"])

In [15]:
all_data.dtypes

Game_ID                      object
Player_ID                    object
id                          float64
X                           float64
Y                           float64
Team                         object
Half                         object
Manager                      object
Opposition_Team              object
Shots                       float64
SoT                         float64
Accurate passes             float64
Inaccurate passes           float64
Passes                      float64
Start_minutes               float64
End_minutes                 float64
next_player                  object
next_action                  object
next_x                      float64
next_y                      float64
event_id                    float64
next_team                    object
next_event_id               float64
xt_value                    float64
Date                         object
Season                        int64
Match_ID                    float64
Home Team                    object
Away Team                    object
Score                        object
Train                         int64
date                 datetime64[ns]
dtype: object

In [16]:
all_data["venue_code"] = all_data["Home Team"].astype("category").cat.codes

In [17]:
all_data["opp_code"] = all_data["Away Team"].astype("category").cat.codes

In [18]:
all_data["Manager_code"] = all_data["Manager"].astype("category").cat.codes

In [19]:
all_data["Half_code"] = all_data["Half"].astype("category").cat.codes

In [20]:
all_data["day_code"] = all_data["date"].dt.dayofweek

In [21]:
all_data["target"] = all_data["Score"].astype("category").cat.codes

In [22]:
all_data["target"].unique()

array([ 2,  0,  1, -1], dtype=int8)

In [23]:
all_data["Score"].unique()

array(['Home Win', 'Away win', 'Draw', nan], dtype=object)

In [24]:
all_data[all_data["target"]==-1]

,Game_ID,Player_ID,id,X,Y,Team,Half,Manager,Opposition_Team,Shots,...,Away Team,Score,Train,date,venue_code,opp_code,Manager_code,Half_code,day_code,target
19031,ID_ZUPS2JD2,Player_5CBBVY85,1.0,52.5,34.0,Milky Way,1st half,Masashi,Sunflower,0.0,...,Milky Way,NaN,0,2019-03-19,18,14,40,0,1,-1
19032,ID_ZUPS2JD2,Player_5CBBVY85,2.0,52.5,34.0,Milky Way,1st half,Masashi,Sunflower,0.0,...,Milky Way,NaN,0,2019-03-19,18,14,40,0,1,-1
19033,ID_ZUPS2JD2,Player_INTSA2WQ,3.0,37.5,30.9,Milky Way,1st half,Masashi,Sunflower,0.0,...,Milky Way,NaN,0,2019-03-19,18,14,40,0,1,-1
19034,ID_ZUPS2JD2,Player_INTSA2WQ,4.0,37.5,30.9,Milky Way,1st half,Masashi,Sunflower,0.0,...,Milky Way,NaN,0,2019-03-19,18,14,40,0,1,-1
19035,ID_ZUPS2JD2,Player_1AJ0QRLU,5.0,26.0,10.8,Sunflower,1st half,Frodo,Milky Way,0.0,...,Milky Way,NaN,0,2019-03-19,18,14,24,0,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2420778,ID_03VRW8WV,Player_Y6ZZ2X44,3661.0,42.1,57.4,Antennae,2nd half,Elrick,Comet,0.0,...,Antennae,NaN,0,2018-11-28,8,1,23,1,2,-1
2420779,ID_03VRW8WV,Player_Y6ZZ2X44,3662.0,42.1,57.4,Antennae,2nd half,Elrick,Comet,0.0,...,Antennae,NaN,0,2018-11-28,8,1,23,1,2,-1
2420780,ID_03VRW8WV,Player_6DVBNW9L,3663.0,7.5,19.6,Comet,2nd half,Hideaki,Antennae,0.0,...,Antennae,NaN,0,2018-11-28,8,1,26,1,2,-1
2420781,ID_03VRW8WV,Player_6DVBNW9L,3664.0,7.5,19.6,Comet,2nd half,Hideaki,Antennae,0.0,...,Antennae,NaN,0,2018-11-28,8,1,26,1,2,-1
2420782,ID_03VRW8WV,Player_77KCLG39,3665.0,23.0,0.0,Comet,2nd half,Hideaki,Antennae,0.0,...,Antennae,NaN,0,2018-11-28,8,1,26,1,2,-1

In [25]:
data_set =all_data.copy()

data_set.rename(columns = {'Accurate passes':'Accurate_passes',
                                    'Inaccurate passes':'Inaccurate_passes'},
                         inplace = True)

In [26]:
predictors = ["venue_code", "opp_code", "Manager_code", "day_code","Half_code","X","Y","Shots","SoT","Accurate_passes",
              "Inaccurate_passes","Start_minutes","End_minutes","xt_value"]

In [27]:
data_set[predictors]

,venue_code,opp_code,Manager_code,day_code,Half_code,X,Y,Shots,SoT,Accurate_passes,Inaccurate_passes,Start_minutes,End_minutes,xt_value
0,2,6,52,2,0,52.5,34.0,0.0,0.0,1.0,0.0,0.03,0.37,NaN
1,2,6,52,2,0,52.5,34.0,0.0,0.0,0.0,0.0,0.03,0.37,NaN
2,2,6,52,2,0,37.0,32.7,0.0,0.0,0.0,0.0,0.05,0.38,NaN
3,2,6,52,2,0,39.5,33.0,0.0,0.0,0.0,0.0,0.07,0.40,NaN
4,2,6,52,2,0,39.5,33.0,0.0,0.0,0.0,1.0,0.07,0.40,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428096,3,14,40,1,1,15.3,21.3,0.0,0.0,0.0,0.0,97.20,97.53,NaN
2428097,3,14,20,1,1,88.6,48.7,0.0,0.0,0.0,0.0,97.22,97.55,NaN
2428098,3,14,20,1,1,88.6,48.7,0.0,0.0,0.0,0.0,97.22,97.55,NaN
2428099,3,14,40,1,1,18.1,19.7,0.0,0.0,0.0,1.0,97.77,98.10,NaN
2428100,3,14,20,1,1,34.2,56.8,0.0,0.0,0.0,0.0,97.82,98.15,NaN

In [28]:
#from sklearn.ensemble import RandomForestClassifier
#rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [29]:
#rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [30]:
train = data_set[data_set["Train"]==1]

In [31]:
test = data_set[data_set["Train"]==0]

In [32]:
data_set["Train"].unique()

array([1, 0], dtype=int64)

In [33]:
train

,Game_ID,Player_ID,id,X,Y,Team,Half,Manager,Opposition_Team,Shots,...,Away Team,Score,Train,date,venue_code,opp_code,Manager_code,Half_code,day_code,target
0,ID_ZZKYYPVY,Player_O7HO1NOB,1.0,52.5,34.0,Circinus,1st half,Ryoichi,Backward,0.0,...,Circinus,Home Win,1,2017-12-06,2,6,52,0,2,2
1,ID_ZZKYYPVY,Player_O7HO1NOB,2.0,52.5,34.0,Circinus,1st half,Ryoichi,Backward,0.0,...,Circinus,Home Win,1,2017-12-06,2,6,52,0,2,2
2,ID_ZZKYYPVY,Player_J0V7B0YE,3.0,37.0,32.7,Circinus,1st half,Ryoichi,Backward,0.0,...,Circinus,Home Win,1,2017-12-06,2,6,52,0,2,2
3,ID_ZZKYYPVY,Player_J0V7B0YE,4.0,39.5,33.0,Circinus,1st half,Ryoichi,Backward,0.0,...,Circinus,Home Win,1,2017-12-06,2,6,52,0,2,2
4,ID_ZZKYYPVY,Player_J0V7B0YE,5.0,39.5,33.0,Circinus,1st half,Ryoichi,Backward,0.0,...,Circinus,Home Win,1,2017-12-06,2,6,52,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428096,ID_00EFNL7L,Player_30LIPYOT,3454.0,15.3,21.3,Milky Way,2nd half,Masashi,Butterfly,0.0,...,Milky Way,Away win,1,2016-11-08,3,14,40,1,1,0
2428097,ID_00EFNL7L,Player_3B44A2GJ,3455.0,88.6,48.7,Butterfly,2nd half,Dante,Milky Way,0.0,...,Milky Way,Away win,1,2016-11-08,3,14,20,1,1,0
2428098,ID_00EFNL7L,Player_3B44A2GJ,3456.0,88.6,48.7,Butterfly,2nd half,Dante,Milky Way,0.0,...,Milky Way,Away win,1,2016-11-08,3,14,20,1,1,0
2428099,ID_00EFNL7L,Player_DICH31J8,3457.0,18.1,19.7,Milky Way,2nd half,Masashi,Butterfly,0.0,...,Milky Way,Away win,1,2016-11-08,3,14,40,1,1,0
2428100,ID_00EFNL7L,Player_033SPDRN,3458.0,34.2,56.8,Butterfly,2nd half,Dante,Milky Way,0.0,...,Milky Way,Away win,1,2016-11-08,3,14,20,1,1,0

In [34]:
#rf.fit(train[predictors], train["target"])

In [35]:
#preds = rf.predict(test[predictors])

In [36]:
#preds

In [37]:
# test["target"]

In [38]:
# from sklearn.metrics import accuracy_score

In [39]:
# error = accuracy_score(test["target"], preds)

In [40]:
#test["Score"] = preds

In [41]:
#test["Score"].unique()

In [42]:
#submit = test[["Game_ID","Score"]]

In [43]:
#submit.drop_duplicates(subset = ["Game_ID"], inplace=True)

In [44]:
#submit

In [45]:
#submit = submit.reset_index(drop=True)

In [46]:
#submit

In [47]:
# di = {1: "Draw", 2: "Home Win",0:"Away win"}
# submit_2 = submit.replace({"Score": di})

In [48]:
# submit_2 = submit.replace({"Score": di})

In [49]:
# submit_2

In [50]:
#submit_2.to_csv("submission.csv", index=False)

In [51]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    #group = group.fillna(subset=new_cols)
    return group

In [52]:

# data_set.rename(columns = {'Accurate passes_rolling':'Accurate_passes_rolling',
#                                     'Inaccurate passes_rolling':'Inaccurate_passes_rolling'},
#                          inplace = True)

In [53]:
#cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in predictors]

matches_rolling = data_set.groupby("Team").apply(lambda x: rolling_averages(x, predictors, new_cols))

In [54]:
new_cols

['venue_code_rolling',
 'opp_code_rolling',
 'Manager_code_rolling',
 'day_code_rolling',
 'Half_code_rolling',
 'X_rolling',
 'Y_rolling',
 'Shots_rolling',
 'SoT_rolling',
 'Accurate_passes_rolling',
 'Inaccurate_passes_rolling',
 'Start_minutes_rolling',
 'End_minutes_rolling',
 'xt_value_rolling']

In [55]:
matches_rolling

                      Game_ID        Player_ID      id     X     Y       Team  \
Team
Andromeda 237967  ID_X5UEAAIY  Player_19CNUIKZ  1543.0  79.7   9.5  Andromeda
          237503  ID_X5UEAAIY  Player_5LZ6XQM6  1079.0  13.8  23.5  Andromeda
          237504  ID_X5UEAAIY  Player_5LZ6XQM6  1080.0  13.8  23.5  Andromeda
          237508  ID_X5UEAAIY  Player_SBSXRE0Q  1084.0   1.9  23.4  Andromeda
          237509  ID_X5UEAAIY  Player_SBSXRE0Q  1085.0   1.9  23.4  Andromeda
...                       ...              ...     ...   ...   ...        ...
Whirlpool 675086  ID_QKWD8147  Player_EM0KTM0I  1092.0  76.2  34.0  Whirlpool
          675085  ID_QKWD8147  Player_EM0KTM0I  1091.0  76.2  34.0  Whirlpool
          675084  ID_QKWD8147  Player_HJ9XL1WY  1090.0  73.2  25.6  Whirlpool
          675098  ID_QKWD8147  Player_HJ9XL1WY  1104.0  68.5  30.8  Whirlpool
          676914  ID_QKWD8147  Player_N87MKT35  2921.0  96.6   0.0  Whirlpool

                      Half  Manager Opposition_Team  Shots  ...  \
Team                                                        ...
Andromeda 237967  1st half     Alex           Comet    0.0  ...
          237503  1st half     Alex           Comet    0.0  ...
          237504  1st half     Alex           Comet    0.0  ...
          237508  1st half     Alex           Comet    0.0  ...
          237509  1st half     Alex           Comet    0.0  ...
...                    ...      ...             ...    ...  ...
Whirlpool 675086  1st half  Tatsuya   Medusa Merger    0.0  ...
          675085  1st half  Tatsuya   Medusa Merger    0.0  ...
          675084  1st half  Tatsuya   Medusa Merger    0.0  ...
          675098  1st half  Tatsuya   Medusa Merger    0.0  ...
          676914  2nd half  Tatsuya   Medusa Merger    0.0  ...

                  Half_code_rolling  X_rolling  Y_rolling  Shots_rolling  \
Team
Andromeda 237967                NaN        NaN        NaN            NaN
          237503                NaN        NaN        NaN            NaN
          237504                NaN        NaN        NaN            NaN
          237508                0.0  35.766667  18.833333            0.0
          237509                0.0   9.833333  23.466667            0.0
...                             ...        ...        ...            ...
Whirlpool 675086                0.0  74.400000  32.933333            0.0
          675085                0.0  72.133333  32.933333            0.0
          675084                0.0  74.166667  33.466667            0.0
          675098                0.0  75.200000  31.200000            0.0
          676914                0.0  72.633333  30.133333            0.0

                  SoT_rolling  Accurate_passes_rolling  \
Team
Andromeda 237967          NaN                      NaN
          237503          NaN                      NaN
          237504          NaN                      NaN
          237508          0.0                 0.000000
          237509          0.0                 0.000000
...                       ...                      ...
Whirlpool 675086          0.0                 0.333333
          675085          0.0                 0.666667
          675084          0.0                 0.666667
          675098          0.0                 0.333333
          676914          0.0                 0.000000

                 Inaccurate_passes_rolling Start_minutes_rolling  \
Team
Andromeda 237967                       NaN                   NaN
          237503                       NaN                   NaN
          237504                       NaN                   NaN
          237508                       0.0             28.146667
          237509                       0.0             24.873333
...                                    ...                   ...
Whirlpool 675086                       0.0             36.720000
          675085                       0.0             36.713333
          675084                       0.0             36.706667
          675098                       0.0             36.693333
          676914                       0.0             36.720000

                  End_minutes_rolling  xt_value_rolling
Team
Andromeda 237967                  NaN               NaN
          237503                  NaN               NaN
          237504                  NaN               NaN
          237508            28.476667               NaN
          237509            25.206667               NaN
...                               ...               ...
Whirlpool 675086            37.050000          0.003754
          675085            37.043333          0.003754
          675084            37.036667          0.003754
          675098            37.026667          0.000000
          676914            37.056667          0.000000

[2428101 rows x 52 columns]

In [56]:
# bb = matches_rolling.iloc[:3]

In [57]:
# bb.columns

In [58]:

matches_rolling_2  = matches_rolling.copy()

In [59]:
#matches_rolling_2.rename(columns = {'Accurate passes_rolling':'Accurate_passes_rolling','Inaccurate passes_rolling':'Inaccurate_passes_rolling'}, inplace = True)

In [60]:
matches_rolling_2 ['venue_code_rolling'] = matches_rolling_2.venue_code_rolling.fillna(0, limit=3)
matches_rolling_2 ['opp_code_rolling'] = matches_rolling_2.opp_code_rolling.fillna(0, limit=3)
matches_rolling_2 ['Manager_code_rolling'] = matches_rolling_2.Manager_code_rolling.fillna(0, limit=3)
matches_rolling_2 ['day_code_rolling'] = matches_rolling_2.day_code_rolling.fillna(0, limit=3)
matches_rolling_2 ['Half_code_rolling'] = matches_rolling_2.Half_code_rolling.fillna(0, limit=3)
matches_rolling_2 ['X_rolling'] = matches_rolling_2.X_rolling.fillna(0, limit=3)
matches_rolling_2 ['Y_rolling'] = matches_rolling_2.Y_rolling.fillna(0, limit=3)
matches_rolling_2 ['Shots_rolling'] = matches_rolling_2.Shots_rolling.fillna(0, limit=3)
matches_rolling_2 ['SoT_rolling'] = matches_rolling_2.SoT_rolling.fillna(0, limit=3)
matches_rolling_2 ['Accurate_passes_rolling'] = matches_rolling_2.Accurate_passes_rolling.fillna(0, limit=3)
matches_rolling_2 ['Inaccurate_passes_rolling'] = matches_rolling_2.Inaccurate_passes_rolling.fillna(0, limit=3)
matches_rolling_2 ['Start_minutes_rolling'] = matches_rolling_2.Start_minutes_rolling.fillna(0, limit=3)
matches_rolling_2 ['End_minutes_rolling'] = matches_rolling_2.End_minutes_rolling.fillna(0, limit=3)
matches_rolling_2 ['xt_value_rolling'] = matches_rolling_2.xt_value_rolling.fillna(0, limit=3)

In [61]:
matches_rolling_2

                      Game_ID        Player_ID      id     X     Y       Team  \
Team
Andromeda 237967  ID_X5UEAAIY  Player_19CNUIKZ  1543.0  79.7   9.5  Andromeda
          237503  ID_X5UEAAIY  Player_5LZ6XQM6  1079.0  13.8  23.5  Andromeda
          237504  ID_X5UEAAIY  Player_5LZ6XQM6  1080.0  13.8  23.5  Andromeda
          237508  ID_X5UEAAIY  Player_SBSXRE0Q  1084.0   1.9  23.4  Andromeda
          237509  ID_X5UEAAIY  Player_SBSXRE0Q  1085.0   1.9  23.4  Andromeda
...                       ...              ...     ...   ...   ...        ...
Whirlpool 675086  ID_QKWD8147  Player_EM0KTM0I  1092.0  76.2  34.0  Whirlpool
          675085  ID_QKWD8147  Player_EM0KTM0I  1091.0  76.2  34.0  Whirlpool
          675084  ID_QKWD8147  Player_HJ9XL1WY  1090.0  73.2  25.6  Whirlpool
          675098  ID_QKWD8147  Player_HJ9XL1WY  1104.0  68.5  30.8  Whirlpool
          676914  ID_QKWD8147  Player_N87MKT35  2921.0  96.6   0.0  Whirlpool

                      Half  Manager Opposition_Team  Shots  ...  \
Team                                                        ...
Andromeda 237967  1st half     Alex           Comet    0.0  ...
          237503  1st half     Alex           Comet    0.0  ...
          237504  1st half     Alex           Comet    0.0  ...
          237508  1st half     Alex           Comet    0.0  ...
          237509  1st half     Alex           Comet    0.0  ...
...                    ...      ...             ...    ...  ...
Whirlpool 675086  1st half  Tatsuya   Medusa Merger    0.0  ...
          675085  1st half  Tatsuya   Medusa Merger    0.0  ...
          675084  1st half  Tatsuya   Medusa Merger    0.0  ...
          675098  1st half  Tatsuya   Medusa Merger    0.0  ...
          676914  2nd half  Tatsuya   Medusa Merger    0.0  ...

                  Half_code_rolling  X_rolling  Y_rolling  Shots_rolling  \
Team
Andromeda 237967                0.0   0.000000   0.000000            0.0
          237503                0.0   0.000000   0.000000            0.0
          237504                0.0   0.000000   0.000000            0.0
          237508                0.0  35.766667  18.833333            0.0
          237509                0.0   9.833333  23.466667            0.0
...                             ...        ...        ...            ...
Whirlpool 675086                0.0  74.400000  32.933333            0.0
          675085                0.0  72.133333  32.933333            0.0
          675084                0.0  74.166667  33.466667            0.0
          675098                0.0  75.200000  31.200000            0.0
          676914                0.0  72.633333  30.133333            0.0

                  SoT_rolling  Accurate_passes_rolling  \
Team
Andromeda 237967          0.0                 0.000000
          237503          0.0                 0.000000
          237504          0.0                 0.000000
          237508          0.0                 0.000000
          237509          0.0                 0.000000
...                       ...                      ...
Whirlpool 675086          0.0                 0.333333
          675085          0.0                 0.666667
          675084          0.0                 0.666667
          675098          0.0                 0.333333
          676914          0.0                 0.000000

                 Inaccurate_passes_rolling Start_minutes_rolling  \
Team
Andromeda 237967                       0.0              0.000000
          237503                       0.0              0.000000
          237504                       0.0              0.000000
          237508                       0.0             28.146667
          237509                       0.0             24.873333
...                                    ...                   ...
Whirlpool 675086                       0.0             36.720000
          675085                       0.0             36.713333
          675084                       0.0             36.706667
          675098                       0.0             36.693333
          676914                       0.0             36.720000

                  End_minutes_rolling  xt_value_rolling
Team
Andromeda 237967             0.000000          0.000000
          237503             0.000000          0.000000
          237504             0.000000          0.000000
          237508            28.476667               NaN
          237509            25.206667               NaN
...                               ...               ...
Whirlpool 675086            37.050000          0.003754
          675085            37.043333          0.003754
          675084            37.036667          0.003754
          675098            37.026667          0.000000
          676914            37.056667          0.000000

[2428101 rows x 52 columns]

In [62]:

matches_rolling_2 = matches_rolling_2.droplevel('Team')

In [63]:
# def make_predictions(data, predictors):
#     train = data_set[data_set["Train"]==1]
#     test = data_set[data_set["Train"]==0]
#     rf.fit(train[predictors], train["target"])
#     preds = rf.predict(test[predictors])
#     test["Score"] = preds
#     submit = test[["Game_ID","Score"]]
#     #combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
#     return submit

In [64]:
# combined = make_predictions(matches_rolling, predictors + new_cols)

In [65]:

matches_rolling_2

,Game_ID,Player_ID,id,X,Y,Team,Half,Manager,Opposition_Team,Shots,...,Half_code_rolling,X_rolling,Y_rolling,Shots_rolling,SoT_rolling,Accurate_passes_rolling,Inaccurate_passes_rolling,Start_minutes_rolling,End_minutes_rolling,xt_value_rolling
237967,ID_X5UEAAIY,Player_19CNUIKZ,1543.0,79.7,9.5,Andromeda,1st half,Alex,Comet,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
237503,ID_X5UEAAIY,Player_5LZ6XQM6,1079.0,13.8,23.5,Andromeda,1st half,Alex,Comet,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
237504,ID_X5UEAAIY,Player_5LZ6XQM6,1080.0,13.8,23.5,Andromeda,1st half,Alex,Comet,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
237508,ID_X5UEAAIY,Player_SBSXRE0Q,1084.0,1.9,23.4,Andromeda,1st half,Alex,Comet,0.0,...,0.0,35.766667,18.833333,0.0,0.0,0.000000,0.0,28.146667,28.476667,NaN
237509,ID_X5UEAAIY,Player_SBSXRE0Q,1085.0,1.9,23.4,Andromeda,1st half,Alex,Comet,0.0,...,0.0,9.833333,23.466667,0.0,0.0,0.000000,0.0,24.873333,25.206667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675086,ID_QKWD8147,Player_EM0KTM0I,1092.0,76.2,34.0,Whirlpool,1st half,Tatsuya,Medusa Merger,0.0,...,0.0,74.400000,32.933333,0.0,0.0,0.333333,0.0,36.720000,37.050000,0.003754
675085,ID_QKWD8147,Player_EM0KTM0I,1091.0,76.2,34.0,Whirlpool,1st half,Tatsuya,Medusa Merger,0.0,...,0.0,72.133333,32.933333,0.0,0.0,0.666667,0.0,36.713333,37.043333,0.003754
675084,ID_QKWD8147,Player_HJ9XL1WY,1090.0,73.2,25.6,Whirlpool,1st half,Tatsuya,Medusa Merger,0.0,...,0.0,74.166667,33.466667,0.0,0.0,0.666667,0.0,36.706667,37.036667,0.003754
675098,ID_QKWD8147,Player_HJ9XL1WY,1104.0,68.5,30.8,Whirlpool,1st half,Tatsuya,Medusa Merger,0.0,...,0.0,75.200000,31.200000,0.0,0.0,0.333333,0.0,36.693333,37.026667,0.000000
676914,ID_QKWD8147,Player_N87MKT35,2921.0,96.6,0.0,Whirlpool,2nd half,Tatsuya,Medusa Merger,0.0,...,0.0,72.633333,30.133333,0.0,0.0,0.000000,0.0,36.720000,37.056667,0.000000

In [66]:
train_2 = matches_rolling_2[matches_rolling_2["Train"]==1]

In [67]:
train_2[predictors + new_cols] = train_2[predictors + new_cols].fillna(0)

C:\Users\KENNEDY\AppData\Local\Temp\ipykernel_7152\2710471791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_2[predictors + new_cols] = train_2[predictors + new_cols].fillna(0)

In [68]:
#train_2[predictors + new_cols].isnull().sum()

In [69]:
test_2 = matches_rolling_2[matches_rolling_2["Train"]==0]

In [70]:
test_2[predictors + new_cols] = test_2[predictors + new_cols].fillna(0)

C:\Users\KENNEDY\AppData\Local\Temp\ipykernel_7152\2208412229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_2[predictors + new_cols] = test_2[predictors + new_cols].fillna(0)

In [71]:
from sklearn.ensemble import RandomForestClassifier
#rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [80]:
rf = RandomForestClassifier(n_estimators=200, min_samples_split=15, random_state=1)

In [81]:
rf.fit(train_2[predictors+ new_cols], train_2["target"])

RandomForestClassifier(min_samples_split=15, n_estimators=200, random_state=1)

In [ ]:
#preds_2 = rf.predict(test_2[predictors+ new_cols])

In [ ]:
#preds_2

In [ ]:
#test_2["Score"] = preds_2

In [ ]:
#test_2["Score"].unique()

In [ ]:
#submit_3 = test_2[["Game_ID","Score"]]

In [ ]:
#submit_3

In [ ]:
#submit_3.drop_duplicates(subset = ["Game_ID"], inplace=True)

In [ ]:
#submit_3

In [ ]:
#submit_3 = submit_3.reset_index(drop=True)

In [ ]:
#submit_3

In [ ]:
# di = {1: "Draw", 2: "Home Win",0:"Away win"}
# submit_4 = submit_3.replace({"Score": di})

In [ ]:
# submit_4

In [ ]:
#submit_4.to_csv("submission2.csv", index=False)

In [ ]:
#tried 50,100,200
#rf2 = RandomForestClassifier(n_estimators=50, min_samples_split=15, random_state=1)

In [ ]:
#rf2.fit(train_2[predictors+ new_cols], train_2["target"])

In [ ]:
#from sklearn.tree import DecisionTreeClassifier

In [84]:
#from sklearn.linear_model import LogisticRegression

In [89]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [90]:
dT = QuadraticDiscriminantAnalysis()

In [91]:
dT.fit(train_2[predictors+ new_cols], train_2["target"])

C:\Users\KENNEDY\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\discriminant_analysis.py:887: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

QuadraticDiscriminantAnalysis()

In [92]:
preds_2 = dT.predict(test_2[predictors+ new_cols])
test_2["Score"] = preds_2
submit_23 = test_2[["Game_ID","Score"]]
submit_23.drop_duplicates(subset = ["Game_ID"], inplace=True)
submit_23 = submit_23.reset_index(drop=True)
di = {1: "Draw", 2: "Home Win",0:"Away win"}
submit_22 = submit_23.replace({"Score": di})
submit_22.to_csv("submission23.csv", index=False)

C:\Users\KENNEDY\AppData\Local\Temp\ipykernel_7152\882979898.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_2["Score"] = preds_2
C:\Users\KENNEDY\AppData\Local\Temp\ipykernel_7152\882979898.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit_23.drop_duplicates(subset = ["Game_ID"], inplace=True)

In [93]:
submit_22

         Game_ID     Score
0    ID_G91KCS98      Draw
1    ID_RFU5FMC8  Away win
2    ID_NQX0L8NJ  Away win
3    ID_1Y735BT9  Away win
4    ID_GGRLN92Z  Away win
..           ...       ...
229  ID_KR88Y90B      Draw
230  ID_MP4ONP0P      Draw
231  ID_85W3ZWMS  Home Win
232  ID_MJ8THLEX      Draw
233  ID_UOTGKHS3      Draw

[234 rows x 2 columns]

In [ ]:
o